@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'sprite';

html, body {
  @apply h-full
}

.link {
  @apply underline hover:no-underline
}


.btn-text {
  @apply text-[18.5px] font-bold italic text-center text-[#f7f5ea];
  text-shadow: 0px 1.5px 2.4px rgba(49, 31, 4, 0.7);
}

.text-shadow {
  text-shadow: 0px 1.5px 2.4px rgba(49, 31, 4, 0.7);
}

.btn-base {
  @apply bg-[linear-gradient(to_top,#fffddf,#e5bc64,#e1b75e,#f8f6a4,#fffddf)] rounded-full border border-[#be9624] flex items-center justify-center;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

.bg-header {
  @apply h-[43px] flex items-center justify-center text-gray-700 tracking-wider text-base;
  &.bg-primary-gradient {
    @apply bg-[linear-gradient(to_top,#e1b75e,#fffda8)]
  }
}

.white-box {
  @apply bg-gradient-to-b from-white from-[98%] to-slate-200 rounded-lg shadow-md border border-white relative;
}

.loading-bar-bg {
  @apply bg-[linear-gradient(to_top,#bc8b2c,#e6be67,#bc8b2c,#e6be67,#bc8b2c)]
}

.loading-bar-base {
  @apply shadow-[inset_0px_1.5px_3.5px_0_#d5b261] bg-[rgba(211,178,113,0.2)] rounded-full border-[rgba(211,178,113,0.5)] overflow-hidden;
}

// .white-box-bottom {
//   @apply h-2 bg-[linear-gradient(to_top,#eee,#fff)] rounded-b-lg absolute bottom-0 w-full;
//   z-index: -1;
// }

.sub-btn {
  @apply border border-yellow-600 bg-white rounded-full shadow-md text-primary-500 italic;
}

.box-downside-btn {
  @apply text-primary-600 font-medium tracking-widest text-center mx-auto mt-4 pt-2;
}

table.custom-table {
  @apply w-full text-center border border-white overflow-hidden;
  &.box {
    @apply bg-white rounded-lg shadow-md;
  }
  thead, tfoot {
    @apply text-gray-500 bg-slate-100 text-sm;
    th {
      @apply font-medium py-1;
    }
  }
  tbody {
    @apply text-gray-500 text-sm;
    th, td {
      @apply py-2
    }
  }
}
