@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'sprite';

html, body {
  @apply h-full
}

.link {
  @apply underline hover:no-underline
}


.btn-text {
  @apply text-[18.5px] font-bold italic text-center text-[#f7f5ea];
  text-shadow: 0px 1.5px 2.4px rgba(49, 31, 4, 0.7);
}

.text-shadow {
  text-shadow: 0px 1.5px 2.4px rgba(49, 31, 4, 0.7);
}

.btn-base {
  @apply bg-[linear-gradient(to_top,#fffddf,#e5bc64,#e1b75e,#f8f6a4,#fffddf)] rounded-full border border-[#be9624] flex items-center justify-center;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}
